*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints

# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# PyCharm
.idea/

# MacOs hidden files
.DS_Store
