<footer class="site-footer h-card">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <p>
                    Made on the road, with
                    <i class="fa fa-fw fa-heart" title="Love">
                        <span hidden>Love</span>
                    </i>
                    and
                    <i class="fas fa-coffee" title="Coffee">
                        <span hidden>Coffee</span>
                    </i>
                </p>
            </div>
            <div class="col-md-6">
                <p>&copy; Alexandre Andorra |
                    <a href="https://github.com/{{site.github_username}}" class="fa fa-github"
                       rel="nofollow" target="_blank"
                    >
                    </a>
                   |
                    <a href="https://twitter.com/alex_andorra"
                       class="fa fa-twitter"
                       rel="nofollow"
                       target="_blank"
                    >
                    </a>
                   <!--
                   |
                    <a href="http://contesdefaits.us15.list-manage.com/subscribe?u=65f0a6dfc250b5e8789b0900b&id=be72f73cb9"
                       target="_blank"
                    ><i class="fa fa-envelope-open" aria-hidden="true"></i>
                    </a>
                   |
                    <a href="https://anchor.fm/pollspolitics" target="_blank"><i
                            class="fa fa-podcast"
                    ></i>
                    </a>
                    -->
                </p>
            </div>
            <div class="col-md-3">
                <p>Powered by
                    <a href="https://fastpages.fast.ai/" target="_blank">fastpages</a>
                </p>
            </div>
        </div>
    </div>
</footer>